<!DOCTYPE html>
<html lang="en">
<head>
<title>登录页面</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 {#<link href="../static/css/login.css" rel="stylesheet" type="text/css" media="all" />#}
<link href="{{url_for("static", filename="css/login.css")}}" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>

	<!-- main -->
	<div class="main-w3layouts wrapper">
		<div class="main-agileinfo">
			<div class="agileits-top">
                <br>
                <br>
                <div class="h2 text-center text-white">Register</div>
				<form method="post">
                    {{ Form.csrf_token }}
                    {{ Form.UserName1.label(class="text-white") }}:{{ Form.UserName1(class='text') }}
                    {{ Form.PassWord1.label(class="text-white") }}:{{ Form.PassWord1(class='text') }}
                    {{ Form.PassWordConfirm1.label(class="text-white") }}:{{ Form.PassWordConfirm1(class='text') }}
                    {% for message in get_flashed_messages() %}
                        <p class="text-muted">{{ message }}</p>
                    {%  endfor %}
                    {{ Form.SubmitButton1 }}
				</form>
			</div>
		</div>

		<ul class="w3lsg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->

</body>
</html>
